/* Site header and footer */

// Site Header
.site-header {
	position: fixed;
	width: 100%;
	height: 75px;
  	transition: background-color 0.25s ease-in-out, height 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  	z-index: 99;
  	li { padding: 0 15px; }
  	li:first-child { padding-left: 0; }
  	li:last-child { padding-right: 0; }
}
.not--top .site-header {
	height: 80px;
	background-color: $c_accent;
	box-shadow: $box_shadow;
}

// Site Footer
$footer_height: 70px;
.site-footer {
	height: $footer_height;
	.inner {
		border-top: 1px solid $c_accent;
		height: $footer_height;
	}
	ul {
		li:first-child { padding-right: 24px; }
	}
}