/* Site header and footer */

// Site Header
.site-header {
	position: fixed;
	width: 100%;
  transition: background-color 0.25s ease-in-out, height 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  z-index: 99;
  li {
  	height: 75px; //
  	position: relative;
  	cursor: pointer;
  	span {
  		height: 4px;
  		width: 100%;
  		 // top: $header_height; //
  		position: absolute;
  		background-color: transparent;
  	}
  	&.active span { background-color: $c_additional_2; }
  a {
  	margin: 0 15px;
	  &:first-child { padding-left: 0; }
	  &:last-child { padding-right: 0; }
	}
	}
	li:hover span { background-color: $c_additional_2; }
}
.not--top .site-header {
	opacity: .8;
}
.mobile-menu-icon {
	.inner {
		width: 50px;
		height: 24px;
		position: relative;
	}
	span {
		display: block;
    position: absolute;
		background-color: $c_black;
		height: 2px;
		width: 100%;
		transition: all 0.2s ease-in-out 0s;
		&:first-of-type { top: 0; }
		&:nth-of-type(2),
		&:nth-of-type(3) { top: 11px; }
		&:nth-of-type(4) { top: 22px; }
	}
}
.open {
		span:first-of-type,
		span:nth-of-type(4) {
		opacity: 0;
	}
		span:nth-of-type(2) {
		transform: rotate(45deg);
	}
		span:nth-of-type(3) {
		transform: rotate(-45deg);
	}
}


// Site Footer
$footer_height: 70px;

.site-footer {
	min-height: $footer_height;
	.inner {
		border-top: 1px solid $c_accent;
		min-height: $footer_height;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
@media(min-width: $breakpoint_md) and (max-width: $breakpoint_lg) {
	.inline-x-c-md { text-align: center; }
	.inline-x-r-md { text-align: right; }
	.hide-md { display: none; }
	.site-header {
		a { margin: 0 7px; }
	}
}
@media(min-width: $breakpoint_md) {
	.site-header { height: 75px; } //
}
@media(max-width: $breakpoint_md) {
	.header-menu {
		display: none;
		padding: 10px 0;
		a { margin: 5px 0; }
	} 
	.flex-c-column-max-md {
		display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
	}
}
@media(min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
	.inline-x-c-sm { text-align: center; }
	.inline-x-r-sm { text-align: right; }
}
@media(min-width: $breakpoint_sm){
	.flex-min-sm {
		display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
	}
	.site-footer {
		ul {
			li:first-child { padding-right: 24px; }
		}
	}
}
@media(max-width: $breakpoint_md) {
	.inline-x-c-xs { text-align: center; }
	.site-footer,
	.site-header {
		.inner { padding: 10px 0; }
	}
}