/* Typography */

// Headings
.p, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.01em;
}
.h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: .2em;
  color: $c_accent;
  font-weight: 300;
}
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  line-height: 1.2;
  color: $c_accent;
  font-weight: 300;
}
@media(max-width: $breakpoint_sm) {
  .h1 { font-size: 26px; }
  .h2 { font-size: 20px; }
  .p, body { font-size: 14px; }
}
.f-20 { font-size: 20px; }

// Header anchors
.site-header {
  a { color: $c_black; }
}

// Slider section
.slider {
  font-weight: 600;
  q {
    font-size: 60px;
    line-height: 1.1;
  }
  p {
    margin-top: 40px;
    font-size: 30px;
  }
}
@media(min-width: $breakpoint_md) and (max-width: $breakpoint_lg) {
  .slider {
    q {
      font-size: 40px;
    }
    p {
      margin-top: 15px;
      font-size: 20px;
    }
  }
}
@media(min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
  .slider {
    q {
      font-size: 35px;
    }
    p {
      margin-top: 10px;
      font-size: 15px;
    }
  }
}
@media(max-width: $breakpoint_sm) {
  .slider {
    q {
      font-size: 28px;
    }
    p {
      margin-top: 10px;
      font-size: 16px;
    }
  }
}

// Footer
.site-footer {
  color: $c_additional_footer;
  font-size: 12px;
}

// Icon font
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f926sf');
  src:  url('../fonts/icomoon.eot?f926sf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f926sf') format('truetype'),
    url('../fonts/icomoon.woff?f926sf') format('woff'),
    url('../fonts/icomoon.svg?f926sf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e904";
}